<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IM Django</title>
    <meta name="description" content="Django 開発用メモ">

    <!-- Stylesheet for Vue transition -->
    <!-- <link rel="stylesheet" href="static/transition.css"> -->

    <!-- Vue.js: CDN (NOT use) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script> -->

    <!-- Vue.js: file -->
    <!-- <script src="static/js/vue.js"></script> -->

    <!-- axios: CDN -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script> -->
</head>

<body>
    <div>
        Hello World, IM.<br>
        test<br>
        {{value_datetime}}
    </div>
</body>
</html>